<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <style>
    #responseMessage {
      display: none;
      color: green;
      font-weight: bold;
      font-size: 2rem;
    }
  </style>
</head>
<body>
  <h1>VP Authorization Request QR code <br><br> Scan or Click the QR Code</h1>
  <!-- Wrap the QR code in an anchor tag -->
  <a href="<%= qrData %>">
    <img src="<%= qrCodeData %>" alt="QR Code">
  </a>

  <div id="responseMessage">Response received successfully!</div>

  <script>
    function showResponseMessage() {
      const messageElement = document.getElementById('responseMessage');
      messageElement.style.display = 'block';
      setTimeout(() => {
        messageElement.style.display = 'none';
      }, 5000);
    }

    setInterval(() => {
      fetch('/verifier/check-response')
        .then(response => response.json())
        .then(data => {
          if (data.responseReceived) {
            showResponseMessage();
          }
        })
        .catch(error => console.error('Error:', error));
    }, 1000);
  </script>
</body>
</html>